@import "colors.scss";
@import "responsive.scss";
// _______________________________popular class in this project
.bg-blur {
    backdrop-filter: blur(5px);
    background-color: #e4e4e423;
}

.bg-blur2 {
    backdrop-filter: blur(5px);
    background-color: #30303023;
}

.z-index-5 {
    z-index: 5;
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-white-op-30 {
    color: rgba(255, 255, 255, 0.3);
}

.text-white-op-50 {
    color: rgba(255, 255, 255, 0.5);
}

.text-gray {
    color: #AEB4A6;
}

.min-h110vh {
    min-height: 110vh;
}

.min-h80vh {
    min-height: 80vh;
    position: relative;
}

.dark-block {
    width: 100%;
    height: 12vw;
    background-color: $bg-dark-brown;
}

.main-nav-up {
    transform: translateY(-200px) !important;
}

// ________________________________main header classes
.header {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    .main-nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
        transition: 0.5s ease-in-out;
        transform: translateY(0%);
        li {
            @extend .text-gray;
            @extend .fz-18;
            @extend .fw-bold;
            padding: 15px 0;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
        .green-dash {
            display: inline-block;
            width: 20px;
            height: 2px;
            border-radius: 10px;
            background-color: $green-olive;
            margin: 0 5px;
        }
    }
    .home-btn {
        background-color: transparent;
        border: 4px solid $green-olive;
        padding: 0 15px;
        border-radius: 20px 0 20px 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 12vw;
        min-width: max-content;
        height: 4vw;
        min-height: 30px;
        font-size: 13px;
        font-weight: bold;
        color: white;
        transition: 0.1s;
        cursor: pointer;
        outline: none !important;
        &:hover {
            color: white;
        }
        img {
            width: 20%;
            min-width: 10px;
            margin-right: 5px;
        }
    }
    #navBtn {
        margin: 0;
        width: 4vw;
        min-width: 20px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    .head-logo-container {
        width: 8vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 15px;
        img {
            width: 100%;
            min-width: 40px;
        }
    }
    .side-menu-show {
        transform: translateX(0%) !important;
    }
    #side-menu {
        background-color: $bg-dark-brown;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        transform: translateX(100%);
        transition: 0.3s;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            .menu-logo {
                width: 8vw;
                margin: 0;
                padding: 0;
                img {
                    width: 100%;
                }
            }
            #backBtn {
                width: 50px;
                border: 1px solid transparent;
                transition: 0.1s;
                cursor: pointer;
                width: 4vw;
                min-width: 20px;
                img {
                    width: 100%;
                }
            }
        }
        section {
            height: 100%;
            ul {
                @extend .fz-45;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                height: 100%;
                margin: 0;
                padding: 0;
                li {
                    color: rgba(255, 255, 255, 0.3);
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.1s;
                    &:hover>.menu-line {
                        opacity: 1;
                    }
                    &:hover {
                        color: white;
                    }
                    &:hover .lang-img img {
                        filter: invert(1);
                    }
                    .menu-line {
                        background-color: white;
                        display: inline-block;
                        width: 4vw;
                        height: 2px;
                        opacity: 0;
                        transition: 0.1s;
                        margin-left: 2vw;
                    }
                    .lang-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 40px;
                        @extend .fz-30;
                        img {
                            margin-right: 5px;
                            width: 4vw;
                            filter: invert(0);
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
        footer {
            height: 20%;
            width: 20vw;
            padding-bottom: 10px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}

//_______________________________our products
.our-products {
    .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}

// _____________________________try now
.try-now-container {
    .try-now-box {
        border-bottom: 3vw solid $bg-gray;
        figure {
            margin: 0;
            overflow: hidden;
            position: relative;
            img {
                width: 110%;
            }
        }
        div {
            background-color: $bg-dark-brown;
            .row {
                height: 100%;
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            }
        }
    }
}

// _________________________________footer
.footer {
    background-color: $bg-footer-orange;
    padding: 50px 0;
    header {
        .social-icon-container {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                width: 4vw;
                min-width: 25px;
                max-width: 65px;
                img {
                    width: 100%;
                }
            }
        }
    }
    section {
        .footer-box {
            .top {
                height: 100px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                margin-bottom: 15px;
                img {
                    height: 80%;
                }
                h3 {
                    @extend .fz-30;
                    @extend .fw-bold;
                    margin-bottom: 0;
                }
            }
            .bot {
                @extend .fz-20;
                line-height: 2em;
                div {
                    display: flex;
                    align-items: baseline;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    figure {
                        width: 20px;
                        margin-right: 5px;
                        margin-bottom: 0;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer {
        padding-top: 10vw;
    }
}

//__________________________________ components
// 1 cmp
.side-green-para {
    max-width: 23vw;
    height: auto;
    display: inline-block;
    position: absolute;
    bottom: -10%;
    left: 0;
    @extend .fz-50;
    &::after {
        content: "";
        position: absolute;
        top: 5%;
        left: 15px;
        display: block;
        width: 1vw;
        background-color: $green-olive;
        height: 90%;
    }
    p {
        margin-bottom: 0;
        padding-left: calc(1vw + 15px);
    }
}

// 2 cmp
.side-white-para {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 5%;
        left: 15px;
        display: block;
        width: 1vw;
        background-color: white;
        height: 90%;
    }
    p {
        margin-bottom: 0;
        color: white;
        padding-left: calc(1vw + 15px);
    }
}

// 3 cmp

/* card box 1  styles*/

.cardBox1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 0;
    &:hover .cardContent>.options>li {
        transform: translateX(0);
    }
    &:hover .cardContent>.topBlur {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 50%);
        z-index: -1;
    }
    &:hover .cardContent>.botBlur {
        clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
    }
    &:hover .cardContent>.botBlur::after {
        clip-path: polygon(0 80%, 100% 80%, 100% calc(80% + 1px), 0 calc(80% + 1px));
        backdrop-filter: blur(0);
    }
    .bg-container {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        img {
            height: 100%;
        }
    }
    .cardContent {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .options {
            width: 100%;
            list-style-type: none;
            z-index: 10;
            li {
                transform: translateX(-100%);
                transition: 0.5s;
                color: white;
                &:nth-last-of-type(4) {
                    transition-delay: 0.1s;
                }
                &:nth-last-of-type(3) {
                    transition-delay: 0.2s;
                }
                &:nth-last-of-type(2) {
                    transition-delay: 0.3s;
                }
                &:nth-last-of-type(1) {
                    transition-delay: 0.4s;
                }
            }
        }
        .blur {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-origin: center;
            transition: 0.3s;
            backdrop-filter: blur(5px);
            z-index: 9;
        }
        .topBlur {
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 100% 0, 100% 20%, 0 80%);
        }
        .botBlur {
            bottom: 0;
            left: 0;
            clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
            z-index: 9;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.534);
                bottom: 0;
                left: 0;
                clip-path: polygon(0 80%, 100% 20%, 100% calc(20% + 1px), 0 calc(80% + 1px));
                z-index: 9;
                transition: 0.3s;
                opacity: 0.4;
                box-shadow: 0 0 10px black;
            }
        }
    }
}

// 4 cmp
// news&events components
.news-main-block {
    background-color: $bg-dark-brown;
    margin-top: 140px;
    margin-left: auto;
    margin-right: 5vw;
    // padding-left: 270px;
    position: relative;
    .news-out-pic {
        position: absolute;
        border: 1px solid $bg-gray;
        img {
            width: 100%;
            transform: translate(-15px, -15px);
            border: 1px solid $bg-gray;
        }
    }
}

// 5 cmp
// event card
.event-card {
    border: 1px solid $bg-gray;
    position: relative;
    color: white;
    padding: 15px 15px 5px;
    @extend .fz-18;
    margin-bottom: 20px;
    display: flex;
    .event-title {
        position: absolute;
        top: 0;
        left: 15px;
        margin: 0;
        transform: translateY(-60%);
        background-color: $bg-dark-brown;
    }
    .event-explain {}
    .event-text {
        margin: 0;
    }
    .event-list {
        padding-left: 20px;
        margin: 0;
    }
    .event-pic {
        margin: 0;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
        }
    }
}

// 6 cmp
// btns
.base-btn {
    width: 15%;
    min-width: 100px;
    // height: 40px;
    border-radius: 20px;
}

.base-btn-gray {
    color: white;
    border: 1px solid white;
    @extend .bg-blur;
}

// _________________________________background images
.background-1 {
    background: url('../img/bg1.jpg') no-repeat center center/cover;
}

.background-2 {
    background: url('../img/bg2.jpg') no-repeat center center/cover;
}

.background-3 {
    background: url('../img/our-product-bg.jpg') no-repeat center center/cover;
}

.text-effect-bg {
    margin: 0;
    padding: 0;
    width: 100%;
    img {
        fill: rgba(0, 0, 0, 0.123);
        width: 100%;
        filter: blur(5px);
    }
}

// ________________________________________news$event page style
.news-wrapper {
    background: url('../img/bg1.jpg') repeat-y center center/cover;
    min-height: 100vh;
    padding-top: 15vw;
    position: relative;
    .bg-blur2 {
        position: absolute;
        width: 100%;
        height: calc(100% - 15vw);
    }
    .news-main-block {
        .side-white-para {
            position: absolute;
            top: 0;
            // left: 0;
            // transform: translateY(-50%);
            &::after {
                left: 0;
            }
        }
    }
    .news-content {
        min-height: 100vh;
        position: relative;
        .base-btn-gray {
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }
}