@import "colors.scss";
@import "responsive.scss";
// _______________________________popular class in this project
.bg-blur {
    backdrop-filter: blur(5px);
}

.text-white {
    color: white;
}

.text-white-op-30 {
    color: rgba(255, 255, 255, 0.3);
}

.text-gray {
    color: #AEB4A6;
}

.min-h110vh {
    min-height: 110vh;
}

.min-h80vh {
    min-height: 80vh;
    position: relative;
}

.dark-block {
    width: 100%;
    height: 228px;
    background-color: $bg-dark-brown;
}

// ________________________________main header classes
.header {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    // &:hover .side-menu {
    //     transform: translateX(0%);
    // }
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
        li {
            @extend .text-gray;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
        .green-dash {
            display: inline-block;
            width: 20px;
            height: 2px;
            border-radius: 10px;
            background-color: $green-olive;
            margin: 0 5px;
        }
        .home-btn {
            background-color: transparent;
            border: 4px solid $green-olive;
            border-radius: 20px 0 20px 20px;
            width: 12vw;
            height: 4vw;
            font-size: 13px;
            font-weight: bold;
            margin: 0 40px 0 20px;
            color: white;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                color: white;
            }
            img {
                width: 15px;
                transform: translateY(-3px);
            }
        }
    }
    #nav-btn {
        margin: 0;
        width: 4vw;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    .head-logo-container {
        width: 8vw;
        margin: 0;
        img {
            width: 100%;
        }
    }
    .side-menu {
        background-color: $bg-dark-brown;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        transform: translateX(100%);
        transition: 0.3s;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            .menu-logo {
                width: 8vw;
                margin: 0;
                padding: 0;
                img {
                    width: 100%;
                }
            }
            .back-btn {
                width: 50px;
                border: 1px solid transparent;
                transition: 0.1s;
                padding: 10px 5px;
                cursor: pointer;
                &:hover {
                    border-color: white;
                }
                img {
                    width: 100%;
                }
            }
        }
        section {
            height: 100%;
            ul {
                @extend .fz-45;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                height: 100%;
                margin: 0;
                padding: 0;
                li {
                    color: rgba(255, 255, 255, 0.3);
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.1s;
                    &:hover>.menu-line {
                        opacity: 1;
                    }
                    &:hover {
                        color: white;
                    }
                    &:hover .lang-img img {
                        filter: invert(1);
                    }
                    .menu-line {
                        background-color: white;
                        display: inline-block;
                        width: 4vw;
                        height: 2px;
                        opacity: 0;
                        transition: 0.1s;
                        margin-left: 2vw;
                    }
                    .lang-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 40px;
                        @extend .fz-30;
                        img {
                            margin-right: 5px;
                            width: 4vw;
                            filter: invert(0);
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
        footer {
            height: 20%;
            width: 20vw;
            padding-bottom: 10px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}

.head-logo-container {}

// _________________________________background images
.background-1 {
    background: url('../img/bg1.jpg') no-repeat center center/cover;
}

.background-2 {
    background: url('../img/bg2.jpg') no-repeat center center/auto 145%;
}

.text-effect-bg {
    margin: 0;
    padding: 0;
    width: 100%;
    img {
        fill: rgba(0, 0, 0, 0.123);
        width: 100%;
        filter: blur(5px);
    }
}