@media only screen and (min-width: 0px) {
  .header {
    height: 40px;
  }
  .header .home-btn {
    margin: 0 15px 0 10px;
  }
  .header #side-menu {
    height: calc(100vh - 40px);
    width: 70vw;
  }
  .main-section {
    padding-top: 40px;
  }
  .main-section .bg-blur2 {
    height: calc(100% - 40px);
  }
  .main-nav {
    opacity: 0;
    visibility: 0;
  }
  .cardBox1 {
    width: 200px;
    height: 290px;
    margin-bottom: 10px;
  }
  .try-now-box figure {
    width: 100%;
  }
  .news-main-block {
    width: 100%;
    padding: 15px;
  }
  .news-main-block .news-out-pic {
    display: none;
  }
  .news-main-block .side-white-para {
    left: 15px;
    transform: translateY(-100%);
  }
  .event-card {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .event-card .event-pic {
    width: 50%;
    align-self: center;
  }
  .base-btn {
    height: 32px;
  }
  .small-slider-container {
    width: calc(100% - 50px);
    margin: auto;
  }
  .small-slider-container .small-slider .roll .slide {
    width: 30vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .map-box img {
    width: 100%;
  }
}
@media only screen and (min-width: 400px) {
  .cardBox1 {
    width: 220px;
    height: 330px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 576px) {
  .cardBox1 {
    width: 220px;
    height: 330px;
    margin-bottom: 10px;
  }
  .event-card .event-pic {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
  .header #side-menu {
    height: calc(100vh - 60px);
    width: 50vw;
  }
  .header .home-btn {
    margin: 0 40px 0 20px;
  }
  .main-section {
    padding-top: 60px;
  }
  .main-section .bg-blur2 {
    height: calc(100% - 60px);
  }
  .cardBox1 {
    width: 25%;
    height: 310px;
    margin-right: 5.5vw;
    margin-bottom: 15px;
  }
  .news-main-block {
    width: 85%;
    padding: 70px 15px 15px 173px;
  }
  .news-main-block .news-out-pic {
    display: block;
    width: 210px;
    top: -25px;
    left: -50px;
  }
  .news-main-block .side-white-para {
    left: 173px;
    transform: translateY(-100%);
  }
  .event-card {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .event-card .event-pic {
    width: 50%;
    align-self: flex-end;
  }
  .small-slider-container .small-slider .roll .slide {
    width: 15vw;
  }
  .map-box img {
    width: unset;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav {
    opacity: 1;
    visibility: 1;
  }
  .fz-200 {
    font-size: 120px;
  }
  .fz-50 {
    font-size: 25px;
  }
  .fz-45 {
    font-size: 21px;
  }
  .fz-40 {
    font-size: 20;
  }
  .fz-30 {
    font-size: 18px;
  }
  .fz-20 {
    font-size: 16px;
  }
  .fz-18 {
    font-size: 14px;
  }
  .fz-16 {
    font-size: 12px;
  }
  .container-ex {
    max-width: 1000px;
  }
  .container-ex-big {
    max-width: 1110px;
  }
  .cardBox1 {
    width: 20%;
    height: 330px;
    margin-right: 4.1vw;
    margin-bottom: 25px;
  }
  .header {
    height: 90px;
  }
  .header #side-menu {
    height: calc(100vh - 90px);
    width: 35vw;
  }
  .main-section {
    padding-top: 89px;
  }
  .main-section .bg-blur2 {
    height: calc(100% - 89px);
  }
  .try-now-box figure {
    width: 60%;
  }
  .news-main-block {
    width: 80%;
    padding-left: 225px;
  }
  .news-main-block .news-out-pic {
    width: 280px;
    top: -30px;
    left: -70px;
  }
  .news-main-block .side-white-para {
    left: 225px;
    transform: translateY(-100%);
  }
  .event-card {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .event-card .event-pic {
    width: 35%;
    align-self: flex-end;
  }
  .small-slider-container {
    width: 100%;
    margin: auto;
  }
  .small-slider-container .small-slider .roll .slide {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  .container-ex {
    max-width: 1100px;
  }
  .container-ex-big {
    max-width: 1340px;
  }
  .cardBox1 {
    width: 20%;
    height: 440px;
    margin-right: 4.1vw;
    margin-bottom: 60px;
  }
  .try-now-box figure {
    width: 40%;
  }
  .news-main-block {
    width: 75%;
    padding-left: 295px;
  }
  .news-main-block .news-out-pic {
    width: 370px;
    top: -35px;
    left: -90px;
  }
  .news-main-block .side-white-para {
    left: 295px;
    transform: translateY(-100%);
  }
  .event-card {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .event-card .event-pic {
    width: 20%;
    align-self: flex-end;
  }
  .base-btn {
    height: 40px;
  }
  .small-slider-container {
    width: 100%;
    margin: auto;
  }
  .small-slider-container .small-slider .roll .slide {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}
@media only screen and (min-width: 1600px) {
  .fz-200 {
    font-size: 200px;
  }
  .fz-50 {
    font-size: 50px;
  }
  .fz-45 {
    font-size: 35px;
  }
  .fz-40 {
    font-size: 40;
  }
  .fz-30 {
    font-size: 30px;
  }
  .fz-20 {
    font-size: 20px;
  }
  .fz-18 {
    font-size: 18px;
  }
  .fz-16 {
    font-size: 16px;
  }
  .container-ex {
    max-width: 1250px;
  }
  .container-ex-big {
    max-width: 1560px;
  }
  .header {
    height: 142px;
  }
  .header #side-menu {
    height: calc(100vh - 142px);
  }
  .main-section {
    padding-top: 142px;
  }
  .main-section .bg-blur2 {
    height: calc(100% - 142px);
  }
  .cardBox1 {
    width: 20%;
    height: 560px;
    margin-right: 3.7vw;
    margin-bottom: 80px;
  }
  .news-main-block {
    padding-left: 355px;
  }
  .news-main-block .news-out-pic {
    width: 440px;
    top: -40px;
    left: -100px;
  }
  .news-main-block .side-white-para {
    left: 355px;
    transform: translateY(-100%);
  }
  .event-card {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .event-card .event-pic {
    width: 17%;
    align-self: flex-end;
  }
}
.btn-style {
  width: max-content;
  padding: 5px 25px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 2px solid white;
}

.gallery-wrapper {
  position: relative;
}
.gallery-wrapper .btn-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.contact-box {
  position: relative;
  overflow: hidden;
  background-color: #14100C;
}
.contact-box div {
  color: white;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 35px;
}
.contact-box div h3 {
  position: relative;
  white-space: nowrap;
}
.contact-box div h3 .menu-line-1 {
  position: absolute;
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
}
.contact-box div p {
  max-height: 60%;
  overflow-y: auto;
}

.version2 .news-content {
  min-height: unset !important;
}

/*# sourceMappingURL=reWork.css.map */
